<main class="page__main">
  <section class="favorites">
    <h2 class="favorites__title section-title">Favorites &#10084;</h2>
    <ul class="favorites__list js__favoritesList">
      <li class="character">
        <div class="example-character__image-container">
          <h3>
            Click on the characters on the right that you like the most and save them into 
            this list. You can also use the filter to search for more characters.
          </h3>
        </div>
      </li>
    </ul>
    <button class="favorites__button js__resetFavoritesBtn">
      <i class="fa-regular fa-trash-can"></i>Delete
    </button>
  </section>
  <section class="characters">
    <h2 class="characters__title section-title">Characters &#10084;</h2>
    <ul class="characters__list js__charactersList"></ul>
  </section>
</main>