<main class="page__main">
  <section class="favorites">
    <h2 class="favorites__title section-title">Favorites &#10084;</h2>
    <ul class="favorites__list js__favoritesList">
      <li class="character js__characterItem">
        <div class="character__image-container">
          <img src="https://via.placeholder.com/400x500/bbbbbb/ffffff/?text=Disney" class="character__image" alt="">
        </div>
        <h3 class="character__name">Nombre personaje</h3>
      </li>
    </ul>
    <button class="favorites__button js__resetFavoritesBtn">
      <i class="fa-regular fa-trash-can"></i>Reset
    </button>
  </section>
  <section class="characters">
    <h2 class="characters__title section-title">Characters &#10084;</h2>
    <ul class="characters__list js__charactersList">
      <li class="character js__characterItem">
        <div class="character__image-container">
          <img src="https://via.placeholder.com/400x500/bbbbbb/ffffff/?text=Disney" class="character__image" alt="">
        </div>
        <h3 class="character__name">Nombre personaje</h3>
      </li>
    </ul>
  </section>
</main>